

@media screen and (max-width: 992px) {
	#visible {
	
}
	.icone {

	display: none;

}

	#icone {
		display: none;
	}

	.pdf {

		display: none
	}

	.pdfecrit {
		border: solid black 1px;
		
	}

}



@media screen and (min-width: 992px) {
	#visible {
	display: none;
}	
	.icone {

	
	}

	#icone {
		
	}

	.pdfecrit {

		display: none;
	}
}
