	.page {		

		margin-top: 8vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left: 20px;
		margin-right: 20px;
		text-align: center;
	}
	.blocus {
		font-family: century ghotic;
		font-size: 16px;
	}
	.blocus_titre {
		text-align: center;
		font-size: 22px;
		}
	.image_blocus {
		padding-left: 20px;
	}	
	.portfolio {
		font-family: century ghotic;
		margin-bottom: 2vw;
		font-size: 16px;

	}
	.portfolio_titre {
		text-align: center;
		font-size: 22px;
	}