	/*Morceau commun à toutes les pages*/

	
	/*	Partie cv	*/





	hr {
	height: 0.2vh;
	display: block;
	border: none;
	text-align: center;
	background-color: #2B5E80;
}



		.identite {

			text-align: left;
			font-size: 22px;
			font-family: Arial;
			color: red;
		}

		.titre {

			font-family: century gothic;
			font-size: 22px;
			text-align: center;
		}

		.sous_titre {

			font-family: century gothic;
			font-size: 14px;
		}

		.sous_sous_titre {

			font-family: century gothic;
			font-size: 16px;
		}

		.page {

			display: flex;
			padding-top: 5vw;
			flex-direction: column;
			padding-left: 21%;
			padding-right: 30%;
			
		}

			.hpage {
	display: flex;
	/*border: solid black 1px;*/
	border-left: solid black 1px;
	border-top: solid black 1px;
	border-right: solid black 1px;
	vertical-align: top;
}


	.hgauche {
	/*border: solid black 1px;*/
	padding-top: 1.5vw;
	vertical-align: top;
	background-color: #1994E3;
	padding-left: 0.85vw;
	/*padding-bottom: 10vh;*/
	
	padding-right: 1vw;
	border-right: solid black 1px;
	border-bottom: solid black 1px;
	}

	.photo_cv {
		display: block;
		vertical-align: top;
		width: 13.30vw;
		

		/*clip-path: ellipse(50% 50%);*/
/*	
	overflow:hidden;
    -webkit-border-radius:111px;
    -moz-border-radius:111px;
    border-radius:111px;
    width:200px;
    height:262px;*/
	}

	.logo {

		background-color: #1994E3;
	}


	.cercle_competence_plein {
			
  	background:#1994E3;
  	border-radius:50%;
  	width:16px;
  	height:16px;
  	border:2px solid #2B5E80;
  	display: inline-block; 
  	vertical-align: middle;
  	
	}

	.style_competence {

		margin-top: 1vh;
		white-space: nowrap;
		display: inline;
		font-family: century gothic;
		font-size: 14px;
		vertical-align: middle;
	}

	.competence_technique {

		
		display: flex;
		flex-direction: row;
	}

	.competence_technique_gauche {

		margin-top: 1vh;
		white-space: nowrap;
		display: inline;
		font-family: century gothic;
		font-size: 14px;
		vertical-align: middle;
		
	}

	.competence_technique_droite {

		margin-top: 1vh;
		white-space: nowrap;
		display: inline;
		font-family: century gothic;
		font-size: 14px;
		vertical-align: middle;
		
		padding-left: 2vw;
	}

	.cercle_competence_vide {
	
  	background: #9B8989;
  	border-radius:50%;
  	width:16px;
  	height:16px;
  	border:2px solid #2B5E80;
  	display: inline-block; 
  	vertical-align: middle;


	}

	.espacement_cercle_competence {
		
		margin-top: 0.65vw;
		
	}



	.hdroite {
		display: flex;
		flex-direction: column;

	}

	.hdroite1 {
	/*border: solid black 1px;*/
	/*background: linear-gradient(to right ,#2B84BE, #1889D1);*/
	vertical-align: top;
	padding-right: 0vw;
	padding-bottom: 0vh;
	font-family: century gothic;
	font-size: 20px;
	
	padding-left: 1vw;	

	}

	.hdroite2 {
	/*border: solid black 1px;*/
	/*background: linear-gradient(to right ,#2B84BE, #1889D1);*/
	
	vertical-align: top;
	padding-right: 0vw;
	padding-bottom: 0vh;
	font-family: century gothic;
	font-size: 20px;
	
	padding-left: 5vw;	

	}

	.bpage {
	display: flex;
	/*border: solid black 1px;*/
	border-left: solid black 1px;
	border-bottom: solid black 1px;
	border-right: solid black 1px;
	
	vertical-align: top;
	margin-top: -2vw;	/* rajouté pour windows*/
}

	.bgauche {
	/*border: solid black 1px;*/
	/*background-color: #33c2fc;*/
	background-color: #1994E3;
	border-top: solid black 1px; /*	rajouté pour windows*/
	padding-right: 2.3vw;	/*Anciennement 2vw*/
	padding-bottom: 4vh;
	border-right: solid black 1px;
	padding-left: 1.5vw;
	vertical-align: top;
	}

	.bdroite {
	/*border: solid black 1px;*/
	padding-left: 4vw;
	vertical-align: top;
	}
	.meme_ligne{

		display: flex;
		flex-direction: row;
		justify-content: space-around;

	}

	.meme_ligne2{

		display: flex;
		flex-direction: row;
		justify-content: space-around;

	}



	.style_titre {

		color: grey;
		font-family: century gothic;
		font-size: 22px;
		text-align: center;


	}

		.style_titre_h {

		color: grey;
		font-family: century gothic;
		font-size: 22px;
		text-align: center;
		padding-right: 5vw;


	}

	.titre_formations {

		
		font-family: century gothic;
		font-size: 16px;
		text-align: left;
	}

	.titre_formations_h {

		white-space: nowrap;
		font-family: century gothic;
		font-size: 16px;
		text-align: left;
	}

	.titre_formations_b {

		white-space: nowrap;
		font-family: century gothic;
		font-size: 16px;
		text-align: right;
		
	}
	

	.sous_titre_formations_h {

		/*white-space: nowrap;*/
		font-family: century gothic;
		font-size: 16px;
		text-align: center;
		padding-right: 6vw;
	}

	.sous_titre_formations {

		/*white-space: nowrap;*/
		font-family: century gothic;
		font-size: 16px;
		text-align: center;
	}

	.imprimer {

  	position: fixed;
 	 right: 0;
 	 top: 97vh;
 	 width: 8vw;
 	 margin-top: -9vh;
 	 font-size: 3vh;
 	 text-decoration: none;
 	 font-family: century gothic;
 	 border: solid black;
 	 border-radius: 4vw;
 	 padding-left: 1vw;
 	 padding-bottom: 0.2vw;
 	 opacity: 40%
	}

	.imprimer:hover {

		color: black;
		opacity: 100%;
		transition: 1s;
	}

	.pdf {

  	position: fixed;
 	 right: 0;
 	 top: 97vh;
 	 width: 9vw;
 	 margin-top: -14vh;
 	 font-size: 3vh;
 	 text-decoration: none;
 	 font-family: century gothic;
 	 border: solid black;
 	 border-radius: 4vw;
 	 padding-left: 1vw;
 	 padding-bottom: 0.2vw;
 	 opacity: 40%
	}

	.pdf:hover {

		color: black;
		opacity: 100%;
		transition: 1s;
	}

	

